name: Build APK

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4 # En güncel versiyona yükselttik
      
      - name: Setup Java
        uses: actions/setup-java@v4
        with:
          distribution: 'zulu'
          java-version: '17'
          
      - name: Setup Flutter
        uses: subosito/flutter-action@v2
        with:
          channel: 'stable'
          cache: true # İşlemi hızlandırmak için önbellek ekledik

      - name: Install Dependencies
        working-directory: kutupp
        run: flutter pub get
        
      - name: Build APK
        working-directory: kutupp
        run: flutter build apk --release --no-tree-shake-icons

      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: release-apk
          path: kutupp/build/app/outputs/flutter-apk/app-release.apk
          
