name: Build APK

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      
      - name: Setup Java
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '11' # Java 17'den 11'e düşürdük (Uyumluluk için)
          
      - name: Setup Flutter
        uses: subosito/flutter-action@v2
        with:
          flutter-version: '3.19.0' # Sabit ve stabil bir sürüm belirledik
          channel: 'stable'
          cache: true

      - name: Get Dependencies
        working-directory: kutupp
        run: flutter pub get
        
      - name: Build APK
        working-directory: kutupp
        run: flutter build apk --debug --no-tree-shake-icons # Önce hata payı düşük olan 'debug' modunda deneyelim

      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: debug-apk
          path: kutupp/build/app/outputs/flutter-apk/app-debug.apk
          
