name: Build APK

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      
      - name: Setup Java
        uses: actions/setup-java@v3
        with:
          distribution: 'zulu'
          java-version: '17'
          
      - name: Setup Flutter
        uses: subosito/flutter-action@v2
        with:
          channel: 'stable'

      # Hangi klasörde olduğumuzu ve Flutter'ın nerede olduğunu otomatik bulur
      - name: Install Dependencies
        run: |
          cd kutupp
          flutter pub get
        
      - name: Build APK
        run: |
          cd kutupp
          flutter build apk --release --no-tree-shake-icons

      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: release-apk
          path: kutupp/build/app/outputs/flutter-apk/app-release.apk
          
